.header-btn {
    border: 1px solid white;
    border-radius: 4px;
    padding: 3px 6px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
}

.header-btn:hover {
    background-color: white;
    color: black;
}

.profile-box {
    position: fixed;
    top: 40px;
    right: 0;
    background-color: red;
    margin-right: 5px;
    background-color: white;
    border-radius: 5px;
    padding: 15px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}