.modalButton {
  border: 1px solid #33393f;
  border-radius: 6px;
  transition: border-color 0.3s ease;
  padding: 10px;
  height: 63px;
  cursor: pointer;
}

.modalButton:hover {
  border: 1px solid rgb(27, 27, 27);
}

.dropDownStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
  color: #c2c7d0;
  font-size: 15px;
}

.dropDownStyle:hover {
  background-color: #244955;
  border-radius: 5px;
  color: white;
}

.dropDownListStyle {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  color: #c2c7d0;
  font-size: 14px;
}

.dropDownListStyle:hover {
  background-color: #244955;
  border-radius: 5px;
  color: white;
}

.activeColor {
  background-color: #6d757d;
  color: white;
}

.iconStyle {
  font-size: 30px;
  margin-right: 8px;
}

.iconListStyle {
  font-size: 22px;
  margin-right: 14px;
}
